/* ! all styles */



body{
    background-color: rgba(170, 92, 52, 0.916);
}
label{
    font-size: 2rem;
    font-variant: small-caps;
    color:lightgoldenrodyellow;
}


.nav-search{
    justify-content: center;
    gap:0;
}


.nav-search, .search-input{
    align-items: center;
    /* border:2px solid black; */
    border-bottom-left-radius: 20px;
    height:3rem;
    box-shadow: none;
}

.nav-search,.nav-search .search-btn{
    
    border-top-right-radius: 20px;
}


.login-title{
    font-size: 4rem;
    margin-top: 3rem;
    text-shadow: 2px 2px grey;
    color: rgba(170, 92, 52, 0.916);
    font-family: 'Clash Display';
}

#myForm input{
    padding-left: 7rem;

    font-size: 1.8rem;
    box-shadow: 2px 3px 4px 2px black;
    transition: 0.1s all linear;
}
input:hover{
    cursor: pointer;
}

input::placeholder{
    font-style: italic;
}

button.submit-btn{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: lightgoldenrodyellow;
    transition: 0.3s all linear;
    color:rgba(170, 92, 52, 0.916);
    font-weight: bold;
    box-shadow: 2px 3px 4px 2px black;
    font-family: 'Clash Display';
    letter-spacing: 4px;
}
button.submit-btn:hover{
    background-color: lightgoldenrodyellow;
    letter-spacing: 12px;
}

.email-label{
    position: relative;
    color:black;
    color:lightgoldenrodyellow;
}

.mail-icon{
    position: absolute;
    bottom: -2.5rem;
    left:1rem;
    color:rgba(170, 92, 52, 0.916);

}

.password-label{
    position: relative;
    color:black;
    color:lightgoldenrodyellow
}

.password-icon{
    position: absolute;
    bottom: -2.5rem;
    left:1rem;
    color:rgba(170, 92, 52, 0.916);

}

input{
    background-color: lightgoldenrodyellow;
}


@media(max-width:768px){
    .login-title{

        font-size: 2rem;
    }
    button.submit-btn{
        font-size: 2rem;
       margin:0 auto;
        background-color: lightgoldenrodyellow;
        transition: 0.3s all linear;
        color:rgba(170, 92, 52, 0.916);
        font-weight: bold;
        box-shadow: 2px 3px 4px 2px black;
        font-family: 'Clash Display';
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
        
}

@media(min-width:1200px){
    .email-label,.password-label{
        font-size: 2.5rem;
    }
    .password-icon,.mail-icon{
        bottom:-3.4rem;
    }

   input{
    height:4rem;
   }

   .login-title{
    margin-top: 1rem;
   }
   .search-input{
    width: 34rem;
}

.nav-search{
    margin-right: 5%;
}
}


